.toolbar {
  background-color: #20c997;
  background-image: none;
}

.back-button {
  color: #fff;
}

.toolbar__center {
  color: #fff;
  font-weight: bold;
}

.background {
  background-color: #20c997;
}

.intro {
  text-align: center;
  color: #ffffff;
}

.fireworks {
  height: 50vh;
}

.desc {
  margin: 1rem 0;
  font-weight: bold;
}

.suffix {
  margin-left: 1rem;
}
