.toolbar {
  background-color: #67b26f;
  background-image: none;
}

.back-button {
  color: #fff;
}

.toolbar__center {
  color: #fff;
  font-weight: bold;
}

.background {
  background: #67b26f; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #4ca2cd, #67b26f); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #4ca2cd, #67b26f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.intro {
  text-align: center;
  color: #ffffff;
}

.fireworks {
  height: 50vh;
}

.desc {
  margin: 1rem 0;
  font-weight: bold;
}

.suffix {
  margin-left: 1rem;
}
