<ons-toolbar>
  <div class="left"><ons-back-button>Back</ons-back-button></div>
  <div class="center">婚禮出席統計</div>
</ons-toolbar>
<div class="background"></div>
<div class="content">
  <aside class="intro">
    Step 2 - 請選擇您想參加的婚宴<br><br>
  </aside>
  <ons-card (click)="toLoginPage(0)">
    <div class="title">
      訂婚歸寧宴
      <img class="card-img" src="/assets/images/wedding.svg">
    </div>
    <div class="content">
      <p>
        <ons-icon icon="ion-calendar" size="20px"></ons-icon>
        日期：2018/12/12
      </p>
      <p>
        <ons-icon icon="ion-navigate" size="20px"></ons-icon>
        地點：高雄 - 台鋁 MLD 晶綺盛宴
      </p>
    </div>
  </ons-card>
  <ons-card (click)="toLoginPage(1)">
    <div class="title">
      迎娶結婚宴
      <img class="card-img" src="/assets/images/carriage.svg">
    </div>
    <div class="content">
      <p>
        <ons-icon icon="ion-calendar" size="20px"></ons-icon>
        日期：2019/2/2
      </p>
      <p>
        <ons-icon icon="ion-navigate" size="20px"></ons-icon>
        地點：台中 - 非常棧婚宴會館
      </p>
    </div>
  </ons-card>
</div>
