.toolbar {
  background-color: #20242a;
}

.back-button {
  color: #fff;
}

.toolbar__center {
  color: #fff;
  font-weight: bold;
}

.background {
  background-color: #373b44;
}

.intro {
  text-align: center;
  padding: 40px 0;
  font-weight: bold;
  color: #ffffff;
}

ons-card {
  cursor: pointer;
  color: #333;
}

.card__title {
  font-size: 20px;
}

.card-img {
  width: 40px;
  float: right;
}
