.toolbar {
  background-color: #eecda3;
  background-image: none;
  box-shadow: 1px 1px 10px 1px #373b44;
  -webkit-box-shadow: 1px 1px 10px 1px #373b44;
  -moz-box-shadow: 1px 1px 10px 1px #373b44;
  -o-box-shadow: 1px 1px 10px 1px #373b44;
}

.back-button {
  color: #fff;
}

.toolbar__center {
  color: #fff;
  font-weight: bold;
}

.background {
  background: #eecda3; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #ff0084, #eecda3); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #ff0084, #eecda3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.intro {
  text-align: center;
  padding: 1rem 0;
  font-weight: bold;
  color: #ffffff;
}

ons-card {
  cursor: pointer;
  color: #333;
}

.card__title {
  font-size: 20px;
}

.card-img {
  width: 40px;
  float: right;
}
