.toolbar {
  background-image: url('/assets/images/bg1.jpg');
  background-size: cover;
  box-shadow: 1px 1px 10px 1px #373b44;
  -webkit-box-shadow: 1px 1px 10px 1px #373b44;
  -moz-box-shadow: 1px 1px 10px 1px #373b44;
  -o-box-shadow: 1px 1px 10px 1px #373b44;
}

.back-button {
  color: #fff;
}

.toolbar__center {
  color: #fff;
  font-weight: bold;
}

.background {
  background-image: url('/assets/images/bg1.jpg');
  background-size: cover;
}

.intro {
  text-align: center;
  padding: 1rem 0;
  font-weight: bold;
  color: #ffffff;
}

ons-card {
  cursor: pointer;
  color: #333;
}

.card__title {
  font-size: 20px;
}

.card-img {
  width: 40px;
  float: right;
}
