<ons-toolbar>
  <div class="left">
    <ons-toolbar-button (click)="openMenu()">
      <ons-icon icon="ion-navicon, material:md-menu"></ons-icon>
    </ons-toolbar-button>
  </div>
  <div class="center">婚紗畫廊</div>
</ons-toolbar>
<div class="background"></div>
<div class="content">

  <div class="wrapper">
    <section class="video-title">Gallery</section>
    <div class="resp-container">
      <iframe class="resp-iframe" width="560" height="315" src="https://www.youtube.com/embed/EDg_U-AOgMI" frameborder="0"
              allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>

    <section class="video-title">2018/05/20</section>
    <div class="resp-container">
      <iframe class="resp-iframe" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FRCProductiontw%2Fvideos%2F382029678955988%2F&show_text=0&width=560"
        width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"
        allowFullScreen="true"></iframe>
    </div>
  </div>

</div>
