.toolbar {
  background-color: #eecda3;
  background-image: none;
  box-shadow: 1px 1px 10px 1px #373b44;
  -webkit-box-shadow: 1px 1px 10px 1px #373b44;
  -moz-box-shadow: 1px 1px 10px 1px #373b44;
  -o-box-shadow: 1px 1px 10px 1px #373b44;
}

.toolbar-button,
.toolbar__center {
  color: #fff;
}

.toolbar__center {
  font-weight: bold;
}

.background {
  background: #eecda3;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #ef629f, #eecda3);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #ef629f, #eecda3);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.intro {
  text-align: center;
  font-weight: 600;
  padding: 1rem 0;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro span {
  margin-left: 0.5rem;
}

.wrapper {
  padding: 0.5rem;
}

.resp-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.resp-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
