<ons-toolbar>
  <div class="left">
    <ons-toolbar-button (click)="openMenu()">
      <ons-icon icon="ion-navicon, material:md-menu"></ons-icon>
    </ons-toolbar-button>
  </div>
  <div class="center">婚禮出席統計</div>
  <div class="right">
    <ons-toolbar-button (click)="signOut()" *ngIf="isSignIn">
      <ons-icon icon="fa-sign-out"></ons-icon>
      登出
    </ons-toolbar-button>
  </div>
</ons-toolbar>
<div class="background"></div>
<div class="content">
  <div class="app-loading" [class.hide]="loaded">
    <div class="logo"></div>
    <svg class="spinner" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
    </svg>
  </div>
  <aside class="intro">
    <span *ngIf="!isSignIn">我們要結婚了！誠摯邀請您參加！</span>
    <span *ngIf="isSignIn">Step 1 - 請填寫聯絡資訊</span>
  </aside>
  <firebase-ui></firebase-ui>

  <ons-list modifier="inset" *ngIf="isSignIn">
    <ons-list-header>聯繫資訊</ons-list-header>
    <ons-list-item modifier="longdivider">
      <div class="left">
        <ons-icon icon="ion-person"></ons-icon>
      </div>
      <div class="center">
        <ons-input placeholder="你的大名" [(value)]="user.displayName"></ons-input>
      </div>
    </ons-list-item>
    <ons-list-item modifier="longdivider">
      <div class="left">
        <ons-icon icon="fa-phone"></ons-icon>
      </div>
      <div class="center">
        <ons-input placeholder="連絡電話 (選填)" [(value)]="user.phoneNumber"></ons-input>
      </div>
    </ons-list-item>
    <ons-list-item modifier="longdivider">
      <div class="left">
        <ons-icon icon="fa-envelope-o"></ons-icon>
      </div>
      <div class="center">
        <ons-input placeholder="Email" [(value)]="user.email"></ons-input>
      </div>
    </ons-list-item>
  </ons-list>

  <div class="operation" *ngIf="!isSignIn">
    <div><sub><ons-icon icon="fa-info-circle"></ons-icon> 請先登入進行填寫或修改問券內容</sub></div>
  </div>
  <div class="operation" *ngIf="isSignIn">
    <ons-button (click)="onNext()" modifier="material">下一步</ons-button>
    <div><sub><ons-icon icon="fa-info-circle"></ons-icon> 已填寫過的賓客可點擊下一步進行修改</sub></div>
  </div>

  <app-counter></app-counter>

  <section class="overflow">
    <aside class="overflow-title" (click)="surveyMessage()">留言語錄</aside>
    <div class="marquee">
      <ons-list-item *ngFor="let m of message$ | async">
        <div class="left">
          <img class="list-item__thumbnail" src="{{m.photoURL}}">
        </div>
        <div class="center">
          <span class="list-item__title">{{m.displayName}}</span>
          <span class="list-item__subtitle">{{m.message}}</span>
        </div>
      </ons-list-item>
    </div>
  </section>
</div>
