.toolbar {
  background-color: #085078;
  background-image: none;
}

.toolbar-button,
.toolbar__center {
  color: #fff;
}

.toolbar__center {
  font-weight: bold;
}

.app-loading {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: all 3s ease-in-out;
  visibility: visible;
  opacity: 1;
}

.app-loading.hide {
  visibility: hidden;
  opacity: 0;
  height: 0;
}

.app-loading .spinner {
  height: 200px;
  width: 200px;
  animation: rotate 2s linear infinite;
  transform-origin: center center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.app-loading .spinner .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
  stroke: #ddd;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

.app-loading .logo {
  width: 100px;
  height: 100px;
  background: url(/assets/images/logo.png) center center no-repeat;
  -moz-background-size: contain;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.background {
  background-color: #085078;
}

.intro,
.operation {
  text-align: center;
  padding: 1rem 0;
  color: #ffffff;
}

.overflow {
  width: 100vw;
  height: 20vh;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  bottom: 0;
  box-sizing: border-box;
}

.overflow-title {
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  text-align: right;
  padding-top: 0.5rem;
  padding-right: 0.5rem;
}

.marquee {
  position: relative;
  box-sizing: border-box;
  animation: marquee 10s linear infinite;
}

.marquee:hover {
  animation-play-state: paused;
}

/* Make it move! */
@keyframes marquee {
  0% {
    top: 8vh;
  }
  100% {
    top: -100vh;
  }
}

.list-item__center {
  background-image: none;
}

.list-item__title,
.list-item__subtitle {
  color: #ffffff;
}
