.background {
  background-color: #085078;
  text-align: center;
}

.intro {
  text-align: center;
  padding: 0 20px;
  margin-top: 40px;
  font-weight: bold;
  color: #fff;
}

.contact-info {
  margin-top: 10px;
}

.operation {
  text-align: center;
  margin: 10px;
}
