<ons-toolbar>
  <div class="left"><ons-back-button>Back</ons-back-button></div>
  <div class="center">{{caption}}</div>
  <div class="right">
    <ons-toolbar-button (click)="signOut()" *ngIf="isSignIn">
      <ons-icon icon="fa-sign-out"></ons-icon>
      登出
    </ons-toolbar-button>
  </div>
</ons-toolbar>
<div class="background"></div>
<div class="content">
  <p class="intro" *ngIf="!isSignIn">
    <ons-icon icon="fa-star"></ons-icon>
    請使用以下服務登入<br><br>
  </p>
  <firebase-ui></firebase-ui>

  <aside class="note">
    Step 1 - 請填寫聯絡資訊
  </aside>
  <ons-list modifier="inset" *ngIf="isSignIn">
    <ons-list-header>聯繫資訊</ons-list-header>
    <ons-list-item modifier="longdivider">
      <div class="left">
        <ons-icon icon="ion-person"></ons-icon>
      </div>
      <div class="center">
        <ons-input placeholder="你的大名" [(value)]="user.displayName"></ons-input>
      </div>
    </ons-list-item>
    <ons-list-item modifier="longdivider">
      <div class="left">
        <ons-icon icon="fa-phone"></ons-icon>
      </div>
      <div class="center">
        <ons-input placeholder="連絡電話" [(value)]="user.phoneNumber"></ons-input>
      </div>
    </ons-list-item>
    <ons-list-item modifier="longdivider">
      <div class="left">
        <ons-icon icon="fa-envelope-o"></ons-icon>
      </div>
      <div class="center">
        <ons-input placeholder="Email" [(value)]="user.email"></ons-input>
      </div>
    </ons-list-item>
  </ons-list>

  <div class="operation" *ngIf="isSignIn">
    <ons-button (click)="onNext()">繼續填寫</ons-button>
  </div>
</div>
