<ons-toolbar>
  <div class="left">
    <div class="back-button" (click)="home()">
      <ons-icon icon="fa-chevron-left"></ons-icon>
      Back
    </div>
  </div>
  <div class="center">留言語錄</div>
</ons-toolbar>
<div class="background"></div>
<div class="content">
  <ons-list-item *ngFor="let m of message$ | async">
    <div class="left">
      <img class="list-item__thumbnail" src="{{m.photoURL}}" (click)="fbPage(m.profile)">
    </div>
    <div class="center">
      <span class="list-item__title" (click)="fbPage(m.profile)">{{m.displayName}}</span>
      <span class="list-item__subtitle">{{m.message}} <small> - {{m.date}}</small></span>
    </div>
  </ons-list-item>
</div>
