.toolbar {
  background-color: #67b26f;
  background-image: none;
  box-shadow: 1px 1px 10px 1px #373b44;
  -webkit-box-shadow: 1px 1px 10px 1px #373b44;
  -moz-box-shadow: 1px 1px 10px 1px #373b44;
  -o-box-shadow: 1px 1px 10px 1px #373b44;
}

.back-button {
  color: #fff;
}

.toolbar__center {
  color: #fff;
  font-weight: bold;
}

.background {
  background: #67b26f; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #4ca2cd, #67b26f); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #4ca2cd, #67b26f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.list-item__center {
  background-image: none;
}

.list-item__title,
.list-item__subtitle {
  color: #fff;
}

.list-item__subtitle {
  opacity: 0.9;
}
