.background {
  background-color: #d38312;
}

.intro {
  text-align: center;
  padding: 40px 0;
  font-weight: bold;
  color: #ffffff;
}

.right {
  text-align: right;
  padding-top: 4px;
  padding-right: 4px;
}

.input-number {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid;
  font-size: 16px;
}
