<ons-toolbar>
  <div class="left"><ons-back-button>Back</ons-back-button></div>
  <div class="center">{{caption}}</div>
</ons-toolbar>
<div class="background"></div>
<div class="content">
  <aside class="note">
    Step 2 - 請填寫以下資訊
  </aside>

  <form [formGroup]="surveyForm">
    <ons-list>
      <ons-list-header>是否會出席婚宴</ons-list-header>
      <ons-list-item *ngFor="let attend of attends; let i = index">
        <input type="radio" [attr.id]="'attend-' + i" [value]="attend.value" formControlName="attend" name="attend">
        <!--<ons-radio name="attend" [attr.input-id]="'attend-' + i" [attr.value]="attend.value" formControlName="attend"></ons-radio>-->
        <label [attr.for]="'attend-' + i" class="center">
          {{ attend.text }}
        </label>
      </ons-list-item>
      <ons-list-header>是否需要寄送喜帖</ons-list-header>
      <ons-list-header>共幾個人出席</ons-list-header>
      <ons-list-header>需要幾張兒童座椅</ons-list-header>
      <ons-list-header>共幾位吃素</ons-list-header>
      <ons-list-header>有什麼話想和我們說嗎</ons-list-header>
    </ons-list>
  </form>
</div>

<ons-bottom-toolbar>
  <div class="right">
    <ons-button (click)="onSubmit()" modifier="material">送出</ons-button>
  </div>
</ons-bottom-toolbar>
