<ons-toolbar>
  <div class="left"><ons-back-button>Back</ons-back-button></div>
  <div class="center">{{caption}}</div>
</ons-toolbar>
<div class="background"></div>
<div class="content">
  <aside class="intro">Step 3 - 請填寫以下資訊</aside>

  <form [formGroup]="surveyForm">
    <ons-list>
      <ons-list-header>是否會出席婚宴</ons-list-header>
      <ul class="list">
        <li class="list-item list-item--tappable"
          *ngFor="let attend of attends; let i = index">
          <div class="list-item__left">
            <label class="radio-button">
              <input type="radio" [attr.id]="'attend-' + i" [value]="attend.value" class="radio-button__input" formControlName="attend" name="attend">
              <div class="radio-button__checkmark"></div>
            </label>
          </div>
          <label [attr.for]="'attend-' + i" class="list-item__center">
            {{ attend.text }}
          </label>
        </li>
      </ul>
      <ons-list-header *ngIf="surveyForm.get('attend').value">共幾個人出席 (包含自己)</ons-list-header>
      <ons-list-item *ngIf="surveyForm.get('attend').value">
        <input class="input-number" type="number" placeholder="請包含自己" formControlName="members">
      </ons-list-item>
      <ons-list-header *ngIf="surveyForm.get('attend').value">需要幾張兒童座椅</ons-list-header>
      <ons-list-item *ngIf="surveyForm.get('attend').value">
        <input class="input-number" type="number" placeholder="如不需要，請輸入 0" formControlName="childSeats">
      </ons-list-item>
      <ons-list-header *ngIf="surveyForm.get('attend').value">共幾位吃素</ons-list-header>
      <ons-list-item *ngIf="surveyForm.get('attend').value">
        <input class="input-number" type="number" placeholder="請一併考量同行親友" formControlName="vegetarian">
      </ons-list-item>
      <ons-list-header>是否需要寄送喜帖</ons-list-header>
      <ul class="list">
        <li class="list-item list-item--tappable"
          *ngFor="let invitation of invitations; let i = index">
          <div class="list-item__left">
            <label class="radio-button">
              <input type="radio" [attr.id]="'invitation-' + i" [value]="invitation.value" class="radio-button__input" formControlName="invitation" name="invitation">
              <div class="radio-button__checkmark"></div>
            </label>
          </div>
          <label [attr.for]="'invitation-' + i" class="list-item__center">
            {{ invitation.text }}
          </label>
        </li>
      </ul>
      <ons-list-header>喜帖投遞地址</ons-list-header>
      <ons-list-item>
        <ons-input placeholder="含郵遞區號" [(value)]="address"></ons-input>
      </ons-list-item>
      <ons-list-header>有什麼話想和我們說嗎</ons-list-header>
      <ons-list-item>
        <ons-input placeholder="請留下你想說的話" [(value)]="message"></ons-input>
      </ons-list-item>
    </ons-list>
  </form>
</div>

<ons-bottom-toolbar>
  <div class="right">
    <ons-button (click)="onSubmit()" modifier="material">完成</ons-button>
  </div>
</ons-bottom-toolbar>
