.toolbar {
  background-image: url('/assets/images/bg2.jpg');
  background-size: cover;
  box-shadow: 2px 2px 10px 2px #373b44;
  -webkit-box-shadow: 2px 2px 10px 2px #373b44;
  -moz-box-shadow: 2px 2px 10px 2px #373b44;
  -o-box-shadow: 2px 2px 10px 2px #373b44;
}

.back-button {
  color: #fff;
}

.toolbar__center {
  color: #fff;
  font-weight: bold;
}

.background {
  background-image: url('/assets/images/bg2.jpg');
  background-size: cover;
}

.intro {
  text-align: center;
  padding: 1rem 0;
  font-weight: bold;
  color: #ffffff;
}

.right {
  text-align: right;
  padding-top: 4px;
  padding-right: 4px;
}

.input-number {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid;
  font-size: 16px;
}
